body {
	background-color: #F8F8F8;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	overflow-x: hidden;
}

/* Image Slider */
div.slider {
	width: 720px;
	height: 400px;
	background-image: url("BgHomepage1.jpg");
	animation: slide 10s infinite;
	margin-left: 30px;
	border-top: solid gold 2px;
	
}

@keyframes slide {
	25% {
		background: url(BgHomepage2.jpg);
	}
	50% {
		background: url(BgHomepage3.jpg);
	}
	75% {
		background: url(BgHomepage4.jpg);
	}
	100% {
		background: url(BgHomepage5.jpg);
	}
}

/* Title Head */
h1 {
	font-family: Georgia, serif;
	font-size: 55px;
	font-weight: 100;
	color: white;
	position: absolute;
	top: -27px;
	left: 70px;
	text-shadow: -1px 1px 0px #000000;
}

.address {
	position: absolute;
	top: 90px;
	left: 95px;
}

#loci {
	position: absolute;
	top: 106px;
	left: 67px;
}

#pi {
	position: absolute;
	top: 148px;
	left: 70px;
}

div.banner {
	background-image: linear-gradient(rgb(222,184,135), rgb(218,165,32));
	height: 70px;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
	box-shadow: 0 4px 2px -2px gray;
}

/* Top Buttons */
a {
	font-family: Verdana, sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1.0px;
	text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#br {
	position: absolute;
	top: 35px;
	left: 45%;

}

#fb {
	position: absolute;
	top: 35px;
	left: 58.5%;
}

#hs {
	position: absolute;
	top: 35px;
	left: 74%;
}

/* Login and Signup */
img {
	position: absolute;
	top: 36px;
}

#li {
	position: absolute;
	left: 90%;
}

#signin {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: black;
	position: absolute;
	top: 36px;
	left: 91.5%;
}

/* Text and Hr */
.p1 {
	position: absolute;
	left: 915px;
	top: 180px;
	font-family: Arial;
	font-size: 60px;
	letter-spacing: -2px;
	color: black;
	text-transform: uppercase;
	word-wrap: break-word;
}

.p2 {
	position: absolute;
	left: 85px;
	top: 780px;
	font-family: Arial;
	font-size: 60px;
	letter-spacing: -2px;
	color: black;
	text-transform: uppercase;
	word-wrap: break-word;
}

.p3 {
	position: absolute;
	left: 85px;
	top: 1420px;
	font-family: Arial;
	font-size: 60px;
	letter-spacing: -2px;
	color: black;
	text-transform: uppercase;
	word-wrap: break-word;
}

hr.hr1 {
	position: absolute;
	top: 37.1rem;
	left: 860px;
	border-top: solid 1px black;
	width: 30%;
	text-align: right;
	margin-right: 0;
}

hr.hr2 {
	position: absolute;
	top: 86rem;
	left: 55px;
	border-top: solid 1px black;
	width: 35%;
	text-align: right;
	margin-right: 0;
}

.footer {
	position: absolute;
	top: 3100px;
	left: 30px;
	border-top: solid 1px black;
	width: 95%;
}

/* Image Hover */
.container {
  position: relative;
  width: 300px;
}

.bg6 {
  position: absolute;
  top: 60px;
  left: 980px;
  border-top: solid gold 2px;
  opacity: 1;
  display: block;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.bg7 {
  position: absolute;
  top: 540px;
  left: 590px;
  border-bottom: solid gold 2px;
  opacity: 1;
  display: block;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.bg8 {
  position: absolute;
  top: 60px;
  left: 615px;
  border-left: solid gold 2px;
  opacity: 1;
  display: block;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.bg9 {
  position: absolute;
  top: 290px;
  left: 950px;
  border-left: solid gold 2px;
  opacity: 1;
  display: block;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle6 {
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 159px;
  left: 980px;
  transform: translate(0%, 0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: .9;
}

.container:hover .middle6 {
  opacity: 1;
}

.text {
  background-color: #000000;
  opacity: .8;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: white;
  padding: 16px 32px;
}

.middle7 {
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 587px;
  left: 590px;
  transform: translate(0%, 0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: .9;
}

.container:hover .middle7 {
  opacity: 1;
}

.text {
  background-color: #000000;
  opacity: .8;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: white;
  padding: 16px 32px;
}

.middle8 {
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 459px;
  left: 617px;
  transform: translate(0%, 0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: .9;
}

.container:hover .middle8 {
  opacity: 1;
}

.text {
  background-color: #000000;
  opacity: .8;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: white;
  padding: 16px 32px;
}

.middle9 {
  transition: 1s ease;
  opacity: 0;
  position: relative;
  top: 536.2px;
  left: 952px;
  transform: translate(0%, 0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: .9;
}

.container:hover .middle9 {
  opacity: 1;
}

.text {
  background-color: #000000;
  opacity: .8;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: white;
  padding: 16px 32px;
}

/* Safety Measures */

span {
	color: #DAA520;
}

.s1 {
  position: absolute;
  top: 1600px;
  left: 0;
  margin-left: 30px;
  border-top: solid gray 2px;
  
  border-left: double gray;
  border-right: double gray;
}

.s1text {
  position: absolute;
  top: 1930px;
  left: 0;
  margin-left: 30px;
  border-bottom: solid gray 2px;
}

.s2 {
  position: absolute;
  top: 1600px;
  left: 500px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s2text {
  position: absolute;
  top: 1930px;
  left: 500px;
  border-bottom: solid gray 2px;
}

.s3 {
  position: absolute;
  top: 1600px;
  right: 0;
  margin-right: 30px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s3text {
  position: absolute;
  top: 1930px;
  right: 0;
  margin-right: 30px;
  border-bottom: solid gray 2px;
}

.s4 {
  position: absolute;
  top: 2100px;
  left: 0;
  margin-left: 30px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s4text {
  position: absolute;
  top: 2430px;
  left: 0;
  margin-left: 30px;
  border-bottom: solid gray 2px;
}

.s5 {
  position: absolute;
  top: 2100px;
  left: 500px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s5text {
  position: absolute;
  top: 2430px;
  left: 500px;
  border-bottom: solid gray 2px;
}

.s6 {
  position: absolute;
  top: 2100px;
  right: 0;
  margin-right: 30px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s6text {
  position: absolute;
  top: 2430px;
  right: 0;
  margin-right: 30px;
  border-bottom: solid gray 2px;
}

.s7 {
  position: absolute;
  top: 2600px;
  left: 0;
  margin-left: 30px;
  border-top: solid gray 2px;
  border-left: double gray;
  border-right: double gray;
}

.s7text {
  position: absolute;
  top: 2930px;
  left: 0;
  margin-left: 30px;
  border-bottom: solid gray 2px;
}

#mi {
  z-index: 2;
  position: -webkit-fixed;
  position: fixed;
  top: 39rem;
  right: 3rem;
  width: 60px;
  box-shadow: 3px -1px 15px gray;
  border-radius: 100px;
}